
<h1>Movie Lovers</h1>

<form action="/search_movies" method="POST">
	<h3>Search movie:</h3>
	<input type="text" name="movie_title" placeholder="Insert the movie">
	<button type="submit">Search</button>
</form>


