
<form action="/create_post" method="POST">
	<input type="text" name="new_title" placeholder="Add title">
	<input type="text" name="new_text" placeholder="Add text">
	<button type="submit">Add new post</button>
</form>